doctype html

html
  head
    title home
    include includes/_head
  body
    .out
      include includes/_header
      .container-fluid
        .row
          .col-gl-12.col-md-12
            .content.m-gray
              .content-in
                .row
                  .col-gl-6.col-md-6
                    h2.h2 europaschutz Gebiet Verwall
                    p
                      | Das Gebiet Verwall wurde auf Grund von zahlreichen Nachweisen seltener alpiner Vogelarten als 
                      a(href="#") NATURA 2000 
                      | Gebiet ausgewiesen. Der Vorarlberger Verwall ist eine imposante Gebirgsgruppe und der größte zusammenhängende Naturraum Vorarlbergs. Die Bedeutung dieser weitgehend intakten Hochgebirgslandschaft für die Tierwelt ist enorm, besonders wichtig ist sie als Lebens- und Rückzugsraum für viele Vögel. Hier finden sich neben den typischen Vogelarten des Bergwaldes und der alpinen Gebiete auch einige Rekordhalter der Lüfte: Der 
                      a(href="#") Steinadler 
                      |, der mit einer Flügelspannweite von mehr als zwei Metern der größte heimische Greifvogel ist und der 
                      a(href="#") Wanderfalke
                      |, der sich mit bis zu 200 Stundenkilometern auf seine Beute stürzt.
                    a(href="#").f-share share
                  .col-gl-6.col-md-6
                    .content-img
                      i.i-play
                      img(src="img/img2.jpg", alt="")
      .container-fluid
        .row
          .col-gl-12.col-md-12
            .content.m-mod
              .content-in
                h2.h2 Schutzgüter
                .row
                  .col-gl-3.col-md-3.col-sm-3.col-xs-6.w400-fullsize
                    .bird
                      .bird-media(style="background-image: url(img/bird1.jpg)")
                      .bird-overlay
                        .bird-title Steinadler
                        .bird-content
                          p
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                          p
                            | Dolor sit amet, consetetur sadipscing elitr
                  .col-gl-3.col-md-3.col-sm-3.col-xs-6.w400-fullsize
                    .bird
                      .bird-media(style="background-image: url(img/bird2.jpg)")
                      .bird-overlay
                        .bird-title Wanderfalke
                        .bird-content
                          p
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                          p
                            | Dolor sit amet, consetetur sadipscing elitr
                  .col-gl-3.col-md-3.col-sm-3.col-xs-6.w400-fullsize
                    .bird
                      .bird-media(style="background-image: url(img/bird3.jpg)")
                      .bird-overlay
                        .bird-title Haselhuhn
                        .bird-content
                          p
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                          p
                            | Dolor sit amet, consetetur sadipscing elitr
                  .col-gl-3.col-md-3.col-sm-3.col-xs-6.w400-fullsize
                    .bird
                      .bird-media(style="background-image: url(img/bird4.jpg)")
                      .bird-overlay
                        .bird-title Alpenschneehuhn
                        .bird-content
                          p
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                          p
                            | Dolor sit amet, consetetur sadipscing elitr    
                ul.list
                  li.list-item
                    a(href="#").list-link alle Schutzgüter anzeigen
      .container-fluid
        .row
          .col-gl-12.col-md-12
            .content.m-gray.m-mod
              .content-in
                .row
                  .col-gl-6.col-md-6
                    h2.h2 Verwall Erleben
                    p
                      | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
                      a(href="#") Wanderwege 
                      | et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    ul.list
                      li.list-item
                        a(href="#").list-link mehr lesen
                    a(href="#").f-share share
                  .col-gl-6.col-md-6
                    .content-img
                      img(src="img/img3.jpg", alt="")
      .container-fluid
        .row
          .col-gl-12.col-md-12
            .content.m-mod
              .content-in
                .row
                  .col-gl-6.col-md-6
                    h2.h2 europaschutz Gebiet Verwall
                    p 
                      | Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
                      a(href="#") Geologie 
                      | in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
                      a(href="#") Landwirtschaft 
                      | ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, 
                      a(href="#") Klima 
                      | eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                    p
                      | Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat 
                      a(href="#") Wildfütterungsstandorte
                      | . Ait amet adipiscing sem neque sed ipsum.
                    h2.h2 Links zum Thema
                    ul.list
                      li.list-item
                        a(href="#").list-link Artikel – Ostalpine Kristallinzone
                      li.list-item
                        a(href="#").list-link Information – Lorem ipsum
                  .col-gl-6.col-md-6
                    .content-img
                      img(src="img/img2.jpg", alt="")
      //- .container-fluid
      //-   .row
      //-     .col-md-12
      include includes/_footer
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
