doctype html

html
  head
    title bootstrap
    include includes/_head
  body
    .out
      .container-fluid
        .row
          .col-md-12.col-lg-12.col-sm-12
            header.header
              .header-in
                a.header-logo(href="#")
                .nav-ico.js-nav-mobile
                .nav-wrap
                  .nav(style="display: block;")
                    ul.nav-list
                      li.nav-list-item
                        a(href="#").nav-list-link Gebiet
                        ul.dropdown
                          li.dropdown-item
                            a(href="#").dropdown-link Übersicht
                          li.dropdown-item
                            a(href="#").dropdown-link Gemeinden
                          li.dropdown-item
                            a(href="#").dropdown-link Lebensräume
                      li.nav-list-item
                        a(href="#").nav-list-link Natur
                      li.nav-list-item
                        a(href="#").nav-list-link Erleben
                      li.nav-list-item
                        a(href="#").nav-list-link Kontakt

      //- .container-fluid
      //-   .row
      //-     .col-md-12.col-lg-12.col-sm-12
      //-       .slider
      //-         .slider-in
      //-           #carousel-example-generic.carousel.slide.carousel-fade(data-ride='carousel')
      //-             ol.carousel-indicators
      //-               li.active(data-target='#carousel-example-generic', data-slide-to='0')
      //-               li(data-target='#carousel-example-generic', data-slide-to='1')
      //-             .carousel-inner
      //-               .item.active(style="background-image: url(img/bg.jpg)")
      //-               .item(style="background-image: url(img/bg.jpg)")
      //- .container-fluid
      //-   .row
      //-     .col-md-12
      .container-fluid
        .row
          .col-md-12
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aliquid modi officiis similique voluptatum, atque at autem facilis eius earum quidem maxime cumque, eum quia aut. Suscipit, harum et quibusdam nesciunt hic quia iste, magni maiores eaque aliquam optio sit ea, alias explicabo autem odit doloribus odio deleniti dolorem quisquam necessitatibus ipsa quaerat doloremque iure. Soluta obcaecati, distinctio dolorum, in quaerat possimus ab dolores quia ullam, minus nihil expedita qui odit pariatur alias, quas ducimus eligendi vitae nobis quidem ratione. Deserunt placeat necessitatibus architecto labore cupiditate, numquam libero quod in consequatur totam maxime laborum, quos veritatis quam magnam tempore, quis perferendis. Illum facere, possimus. Velit ab, cum obcaecati maxime est corporis dicta adipisci iure fugiat vero eveniet mollitia, soluta voluptates et architecto, sit possimus esse, earum hic consequuntur. Consequuntur autem possimus non iusto velit neque, optio voluptatem fugiat eius exercitationem accusantium reiciendis unde. Minima cupiditate, ad expedita deserunt maxime quidem rem quo, quas. Sed tenetur tempore labore fugit porro saepe unde, commodi! Dolorum ratione dicta soluta quisquam, nemo excepturi officiis exercitationem cumque tempore totam doloribus repudiandae voluptatem, similique vero harum nostrum ipsam eligendi, minima ad, nobis provident debitis quos sequi. Autem accusamus saepe consectetur ea dignissimos natus nobis in aut nemo reiciendis, vero, cum quidem facere consequatur recusandae distinctio, iusto illo. Soluta sint accusantium sapiente distinctio, aliquam repellat quo minus velit natus, molestias saepe sequi necessitatibus modi error, corrupti. Laborum vel laboriosam architecto aliquam aliquid ratione iste molestias ex at consequatur. Nesciunt porro sapiente dolore veniam fuga. Delectus amet sit veniam beatae esse voluptas voluptatibus repudiandae accusantium. Amet quod accusamus fugiat, dolor quo ad quasi cumque autem, voluptatem voluptates temporibus distinctio quos aliquam culpa illo reprehenderit consectetur consequatur nisi suscipit obcaecati inventore. Ratione dolorem reiciendis facere cupiditate! Asperiores velit hic dolorum corrupti quis sequi odit reprehenderit, sunt illum tempora accusantium nostrum, possimus, libero aliquid quos atque eligendi quisquam nesciunt quo impedit omnis nobis dolorem eveniet! Tempora similique eius, fugiat consequuntur deleniti doloribus rem aut molestias, magni eum minus aliquid a non iusto commodi nulla nobis inventore dolor mollitia odio. Cum rerum ut, animi fuga ad eius mollitia incidunt minus dolores dicta ipsum, aliquam nobis corporis. Facilis cupiditate numquam adipisci animi esse harum quam tempora dicta, quas officia ipsa labore voluptate est et eius a iste perspiciatis, suscipit deserunt voluptatum. Praesentium necessitatibus ex commodi deserunt harum eaque atque possimus facilis quisquam quia, exercitationem illo, rerum voluptatum ea asperiores quos. Quisquam ipsum maiores ab temporibus aliquam adipisci recusandae, earum optio vel numquam cum consequatur reiciendis veritatis, vero consectetur veniam? Porro debitis aut natus quasi harum cum accusantium possimus? Voluptas cum minima inventore ratione dolor asperiores adipisci voluptatum itaque officiis provident numquam atque, unde sapiente sint! Magnam libero modi quisquam voluptates non eligendi eum ad esse expedita officia laboriosam odit, est doloremque harum, possimus saepe nostrum, inventore molestiae voluptatibus reiciendis fugiat qui ex. Quam non nisi minima culpa, in sapiente quis voluptatum corporis quae facilis veniam reiciendis, illum nobis ex ad libero saepe numquam ducimus molestiae. Facere vero iste voluptates quae officia, earum!

      .container-fluid
        .row
          .col-md-12.col-lg-12.col-sm-12
            footer.footer
              .footer-in
                .footer-nav
                  ul.footer-nav-list
                    li.footer-nav-item
                      a(href="#").footer-nav-link Downloads
                    li.footer-nav-item
                      a(href="#").footer-nav-link Sitemap
                    li.footer-nav-item
                      a(href="#").footer-nav-link Impressum
                    li.footer-nav-item
                      a(href="#").footer-nav-link Links
                .footer-social
                  ul.footer-social-list
                    li.footer-social-item
                      a(href="#").footer-social-link.fb
                    li.footer-social-item
                      a(href="#").footer-social-link.yt
                .footer-copy
                  p © 2014 – Naturschutzverein Verwall – Klostertaler Bergwälder



    script(data-headjs-load='js/init.js', src='js/lib/head.js')
