doctype html

html
  head
    title map
    include includes/_head-map
  body(style="min-width: 800px;")
    .out
      .container-fluid
        .row
          .col-md-12
            .header-mod
              .header-mod-in
                a(href="#").header-mod-logo
                .nav-ico.js-nav-mobile
      .container-fluid
        .row
          .col-md-12
            .nav-wrap.m-static1
              .nav.m-mod(style="display: block;")
                ul.nav-list
                  li.nav-list-item
                    a(href="#").nav-list-link Gebiete
                    ul.dropdown
                      li.dropdown-item
                        a(href="#").dropdown-link Übersicht
                      li.dropdown-item
                        a(href="#").dropdown-link Gemeinden
                      li.dropdown-item
                        a(href="#").dropdown-link Lebensräume
                  li.nav-list-item
                    a(href="#").nav-list-link Kontakt
      .container-fluid
        .row
          .col-md-12
            .map-in
              .row
                .col-sm-12.col-md-6
                  .map-nav-wrap
                    .map-nav-wrap-in 
                      .map-nav-title Schutzgebiete Vorarlberg
                      ul.map-nav-list
                        li.map-nav-item
                          a(href="#").map-nav-link#map2 Alpenmannstreu <br> Gamperdonatal
                        li.map-nav-item
                          a(href="#").map-nav-link#map3 Rohrach
                        li.map-nav-item
                          a(href="#").map-nav-link#map4 Schuttfluren Tafamunt
                        li.map-nav-item
                          a(href="#").map-nav-link#map5 Bangs-Matschels
                        li.map-nav-item
                          a(href="#").map-nav-link#map6 Soren, Gleggen - Köblern,
                        li.map-nav-item 
                          a(href="#").map-nav-link#map7 Bregenzerachschlucht 
                        li.map-nav-item
                          a(href="#").map-nav-link#map8 Soren, Gleggen - Köblern, Schweizer Ried und Birken -  Schwarzes Zeug
                        li.map-nav-item
                          a(href="#").map-nav-link#map9 Fohramoos
                        li.map-nav-item
                          a(href="#").map-nav-link#map10 Spirkenwälder Brandnertal
                        li.map-nav-item
                          a(href="#").map-nav-link#map11 Gadental
                        li.map-nav-item
                          a(href="#").map-nav-link#map12 Spirkenwälder Innergamp
                        li.map-nav-item
                          a(href="#").map-nav-link#map13 Gsieg-Obere Mähder
                        li.map-nav-item
                          a(href="#").map-nav-link#map14 Spirkenwälder Oberer Tritt
                        li.map-nav-item
                          a(href="#").map-nav-link#map15 Klostertaler Bergwälder
                        li.map-nav-item
                          a(href="#").map-nav-link#map16 Spirkenwälder Saminatal
                        li.map-nav-item
                          a(href="#").map-nav-link#map17 Lauteracher Ried
                        li.map-nav-item
                          a(href="#").map-nav-link#map18 Unter-Überlut
                        li.map-nav-item 
                          a(href="#").map-nav-link#map19 Leiblach
                        li.map-nav-item 
                          a(href="#").map-nav-link#map1 Verwall
                        li.map-nav-item
                          a(href="#").map-nav-link#map20 Ludescherberg
                        li.map-nav-item 
                          a(href="#").map-nav-link#map21 Wiegensee
                        li.map-nav-item 
                          a(href="#").map-nav-link#map22 Mehrerauer Seeufer – <br> Bregenzerachmündung
                        li.map-nav-item 
                          a(href="#").map-nav-link#map23 Witmoos
                        li.map-nav-item
                          a(href="#").map-nav-link#map24 Rheindelta
                .col-sm-12.col-md-6
                  .map 
                      include ../img/map/uebersicht2.svg
      .container-fluid
        .row
          .col-md-12
            .part
              .part-in
                .part-title Mit unterstützung von Bund, Land und europäischer Union
                .part-wrap
                  .part-row
                    .part-row-label
                      .part-logo.part-logo1
                    .part-row-label.align-center
                      .part-logo.part-logo2
                  .part-row
                    .part-row-label.align-center
                      .part-logo.part-logo3
                    .part-row-label
                      .part-logo.part-logo4
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
