doctype html

html
  head
    title map
    include includes/_head
  body(style="min-width: 1300px;")
    .out
      .container-fluid
        .row
          .col-md-12
            .header-mod
              .header-mod-in
                a(href="#").header-mod-logo
      .container-fluid
        .row
          .col-md-12
            .nav-wrap.m-static
              .nav.m-mod(style="display: block;")
                ul.nav-list
                  li.nav-list-item
                    a(href="#").nav-list-link Gebiete
                    ul.dropdown
                      li.dropdown-item
                        a(href="#").dropdown-link Übersicht
                      li.dropdown-item
                        a(href="#").dropdown-link Gemeinden
                      li.dropdown-item
                        a(href="#").dropdown-link Lebensräume
                  li.nav-list-item
                    a(href="#").nav-list-link Kontakt
      .container-fluid
        .row
          .col-md-12
            .map-in
              .row
                .col-sm-6.col-md-6
                  .map-nav-wrap
                    .map-nav-wrap-in
                      .map-nav-title Schutzgebiete Vorarlberg
                      ul.map-nav-list
                        li.map-nav-item
                          a(href="#").map-nav-link#map1 Alpenmannstreu <br> Gamperdonatal
                        li.map-nav-item
                          a(href="#").map-nav-link Rohrach
                        li.map-nav-item
                          a(href="#").map-nav-link Schuttfluren Tafamunt
                        li.map-nav-item
                          a(href="#").map-nav-link Bangs-Matschels
                        li.map-nav-item
                          a(href="#").map-nav-link Soren, Gleggen - Köblern,
                        li.map-nav-item
                          a(href="#").map-nav-link Bregenzerachschlucht 
                        li.map-nav-item
                          a(href="#").map-nav-link Soren, Gleggen - Köblern, Schweizer Ried und Birken -  Schwarzes Zeug
                        li.map-nav-item
                          a(href="#").map-nav-link Fohramoos
                        li.map-nav-item
                          a(href="#").map-nav-link Spirkenwälder Brandnertal
                        li.map-nav-item
                          a(href="#").map-nav-link Gadental
                        li.map-nav-item
                          a(href="#").map-nav-link Spirkenwälder Innergamp
                        li.map-nav-item
                          a(href="#").map-nav-link Gsieg-Obere Mähder
                        li.map-nav-item
                          a(href="#").map-nav-link Spirkenwälder Oberer Tritt
                        li.map-nav-item
                          a(href="#").map-nav-link Klostertaler Bergwälder
                        li.map-nav-item
                          a(href="#").map-nav-link Spirkenwälder Saminatal
                        li.map-nav-item
                          a(href="#").map-nav-link Lauteracher Ried
                        li.map-nav-item
                          a(href="#").map-nav-link Unter-Überlut
                        li.map-nav-item
                          a(href="#").map-nav-link Leiblach
                        li.map-nav-item
                          a(href="#").map-nav-link Verwall
                        li.map-nav-item
                          a(href="#").map-nav-link Ludescherberg
                        li.map-nav-item
                          a(href="#").map-nav-link Wiegensee
                        li.map-nav-item
                          a(href="#").map-nav-link Mehrerauer Seeufer – <br> Bregenzerachmündung
                        li.map-nav-item
                          a(href="#").map-nav-link Witmoos
                        li.map-nav-item
                          a(href="#").map-nav-link Rheindelta
                .col-sm-6.col-md-6
                  .map
                    i.i-map1#js-map1
                    img(src="img/big-map.png", alt="")
      .container-fluid
        .row
          .col-md-12
            .part
              .part-in
                .part-title Mit unterstützung von Bund, Land und europäischer Union
                .part-wrap
                  .part-row
                    .part-row-label
                      .part-logo.part-logo1
                    .part-row-label.align-center
                      .part-logo.part-logo2
                  .part-row
                    .part-row-label.align-center
                      .part-logo.part-logo3
                    .part-row-label
                      .part-logo.part-logo4
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
